* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main {
  background-color: rgb(255, 255, 255);
}

.thank-you {
  height: 50vh;
  margin-top: 5vw;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.thank-you p {
  font-family: "JosefinSans-Thin";
  font-size: 1.75vw;
}

@media screen and (max-width: 900px) {
  .thank-you p {
    font-size: 3rem;
  }
  .thank-you {
    height: 50vh;
    margin-top: 20rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
}
